<div class="dropdown" id="controls">
  <button id="home" class="btn btn-primary dropdown-toggle" type="button">
    <span class="glyphicon glyphicon-home" aria-hidden="true"> Home </span>
  </button>
  <button id="listBooks" class="btn btn-primary dropdown-toggle" type="button">
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"> Books</span>
  </button>
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
      <span class="glyphicon glyphicon-bell" aria-hidden="true"> Notifications</span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">HTML<span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></li>
      <li><a href="#">CSS<span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></li>
      <li><a href="#">JavaScript<span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></li>
    </ul>
  </div>
</div>
