
<%if @books %>
  <div class="container">
    <% @books.each do |books| %>
      <div class="gridContent">
      <div class="card">
        <img class="card-img-top" src="<%=books.small_thumbnail%>" alt="Card image cap" width=100px height=150px>
            <h5 class="card-title"><%=books.title%></h4>
        </div>
            <%= link_to "Return", return_book_path(:isbn => books.isbn),method: :delete, :class => 'myButton'%>
      </div>
    <%end%>
  </div>
<%end%>
