<div class="centered">
  <font><h1 class="title">
    <p class='subtitle'>A digital catalog for our library</p>
  </font></h1>
  <center><%= link_to image_tag('sign_in.png'), "/auth/google_oauth2", id: "sign_in", :style=> "color:#D9853B"%></center>
</div>
