<button id="home" class="btn btn-primary dropdown-toggle" type="button">
  <span class="glyphicon glyphicon-home" aria-hidden="true"> Home </span>
</button>
 <div id="grid">
  <% @books.each do |books| %>
  <ul>
    <li>
      <img src="<%=books.small_thumbnail%>" />
      <h3><%=books.title%></h3>
      <%if books.available > 0%>
        <%= link_to "Checkout", checkout_book_path(:isbn => books.isbn),method: :post, :class => 'btn btn-primary'%>
      <%else%>
        <%= link_to "Request", request_book_path(:isbn => books.isbn),:class => 'btn btn-primary'%>
      <%end%>
    </li>
  </ul>
  <%end%>
</div>
