@import "bootstrap-sprockets";
@import "bootstrap";

#bg {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url('pexels-photo-192940.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}
#loading {
  content: url('Bars.gif');
}
#midValue {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}
#nav {
  position: fixed;
  top: 10%;
  left: 85%;
  margin-top: -50px;
  margin-right: -1px;
}
#bookThumbnail {
  position: relative;
  float: left;
  overflow: hidden;
}
.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

#controls{ color: #000 ;
  position: center;
  align-items: center;
  text-align: center;
}
.dropdown-menu {
  position: center;
  align-items: center;
  text-align: center;
}
