@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";
#bg {
  height: 100%;
  width: 100%;
  position: fixed;
  background:	rgb(255, 255, 255);
  background-size: cover;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
#loading {
  content: url('Bars.gif');
}

.navbar {
    background-color: transparent;
    border-color: transparent;
}

.container {
	width: 95%;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(5, 19%);
}
.gridContent {
	text-align: center;
}
.gridContent:hover {
	background: rgb(49, 150, 209);
}
div.tip {
    position: relative;
}

div.tip span {
    display: none;
    position: absolute;
    top: -5px;
    left: 60px;
    width: 300px;
    padding: 5px;
    z-index: 100;
    background: #a9c6f1;
    color: rgb(255, 255, 255);
    -moz-border-radius: 5px; /* this works only in camino/firefox */
    -webkit-border-radius: 5px; /* this is just for Safari */
}
div.tip span:before{
    display:block;
    width:0;
    height:0;
    position:absolute;

    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right:8px solid rgb(243, 238, 238);
    left:-8px;

    top:7px;
}

div:hover.tip {
    font-size: 99%; /* this is just for IE */
}

div:hover.tip span {
    display: block;
}

.logo {
	width:112px;
	height:31px;
}
.icon {
	width:10%;
	float: right;
}
.navbar-right {
	float: right;
}
.card-title {
	color: rgb(35, 138, 235);;
}

.title{
	color: #000000;
}
.subtitle {
	color:#4993e2;
}
.myButton {
	display: inline-block;
    margin-top: 1em;
    text-decoration: none;
    color: #545454;
    font-family: Avenir-Light;
    font-size: 0.85em;
    border: 2px solid #A0A0A0;
    cursor: pointer;
    width: 29%;
    padding: 0.85em;
    text-align: center;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
	opacity: 0.8;
	background: #368AE0;
    border: 2px solid transparent;
    color: #fff;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}
ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: #4993e2;
    text-align: center;
    padding: 14px 16px;
	text-decoration: none;
	font-size: larger;	
}

ul.topnav li a:hover:not(.active) {background-color: rgb(189, 217, 250);}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}